{{extend './layout.html'}}
{{block 'link'}}
<link rel="stylesheet" href="../public/css/index.css">
{{/block}}
{{block 'content'}}
  <!-- 主要内容部分 -->
  <div class="main">
    <!-- 左边内容 -->
    <div class="left-main">
      <!-- 上-- -->
      <div class="top-context" style="background-color: seashell">
        <iframe scrolling="yes" src="https://tianqiapi.com/api.php?style=tw&skin=pitaya" frameborder="0" width="100% "
          height="300" allowtransparency="true" )></iframe>
        <!-- </div>
        中--
        <div class="center-context"> -->
      </div>
      <!-- 下-- -->
      <div class="bottom-context">
        <table class="table table-hover " action="/">
          <thead>
            <tr>
              <th>学生信息</th>
              <th><a>查看</a></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    <!-- 中间部分 -->
    <div class="center-main">
      <!-- map-- -->
      <div class="map" id="map">
          
      </div>
      <!-- chart-- -->
      <div class="chart">

      </div>

    </div>
    <!-- 右边内容 -->
    <div class="right-main">
      <!-- 上-- -->
      <div class="top">
        <table class="table table-hover " action="/">
          <thead>
            <tr>
              <th>实习名称</th>
              <th>班级</th>
              <th>开始时间</th>
              <th>结束时间</th>
              <th>选择</th>
            </tr>
          </thead>
          <tbody>
            
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>

      </div>
      <!-- 中
        <div class="center">

        </div> -->
      <!-- 下-- -->
      <div class="bottom">
        <table class="table table-hover " action="/">
          <thead>
            <tr>
              <th>实习名称</th>
              <th><a>修改</a></th>
            </tr>
          </thead>
        </table>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="text" class="form-control formbg" id="exampleInputEmail1" placeholder="text">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="text" class="form-control formbg" id="exampleInputPassword1" placeholder="text">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="text" class="form-control formbg" id="exampleInputPassword1" placeholder="text">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="text" class="form-control formbg" id="exampleInputPassword1" placeholder="text">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <textarea class="form-control formbg" rows="3"></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
{{/block}}
{{block 'js'}}
<!-- 加载地图JSAPI脚本 -->
<script src="https://webapi.amap.com/maps?v=1.4.14&key=	ab969b0985106a6a6e83338a5595d02a"></script>
<script>
    var map = new AMap.Map('map', {
        resizeEnable: true, //是否监控地图容器尺寸变化
        zoom:11, //初始化地图层级
        center: [116.397428, 39.90923] //初始化地图中心点
    });
</script>
{{/block}}
