{{extend './layout.html'}}
{{block 'link'}}
{{/block}}
{{block 'content'}}
<div class="container">
<div class="page-header">
  <h1>Example page header <small>Subtext for header</small></h1>
</div>
<form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="text" class="form-control formbg" id="exampleInputEmail1" placeholder="text">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="text" class="form-control formbg" id="exampleInputPassword1" placeholder="text">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="date" class="form-control formbg" id="exampleInputPassword1" placeholder="text">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="date" class="form-control formbg" id="exampleInputPassword1" placeholder="text">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <textarea class="form-control formbg" rows="3"></textarea>
        </div>
        <div class="form-group">
          <button>fdsads </button>
        </div>

      </form>
</div>
{{/block}}