{{extend './layout.html'}}
{{block 'link'}}
<link rel="stylesheet" href="../public/css/task.css">
{{/block}}
{{block 'content'}}
<div class="container">
<div class="header">
    <h1 class="float-left">测试信息</h1>
    <div class="float-right">
            <input type="text" class="input float-right" placeholder="Search Mail">
    </div>
</div>
<div class="box box-primary">        
          <div class="">
            <table class="table table-hover ">
              <tbody>
              <tr>
                <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
                <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                </td>
                <td class="mailbox-attachment"><a href="/test">test</a></td>
                <td class="mailbox-date">15 days ago</td>
              </tr>
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.box-body -->
        
      </div>



{{/block}}